/* -- Reset básico -- */
*{
    box-sizing: border-box;
}

body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #FFF;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

/* -- Principal  -- */

.principal{
    margin: 0 auto;
    width: 100%;
    height: 1080px;
    display: flex;
    background: url("../img/bg-home.png") no-repeat center;
	background-size: cover;
}

.conteudo-home{
    display: flex;
    width: 100%;    
    justify-content: center;
    align-items: center;
}

.conteudo-home h1{
  font-size: 48px;
  font-weight: 600;
}



/* -- Menu -- */

.menu{
    height: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 32px;
}

.menu-bg{
   height: 1080px;    
   width: 512px;
   opacity: 0.8;
   background: #000;
   text-align: center;
}

.logo {
    width: 166px;
    height: auto;
    display: inline;   
}

a, p {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.46;
}

.redes-sociais{
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.detalhe{
    border-bottom: 1px solid white;
}

.menu-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item{
    width: 200px;
    padding: 16px;
}










