/* -- Reset básico -- */
*{
    box-sizing: border-box;
}

html{
    height: 100%;
    padding: 0;
    margin: 0;
}

body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

body{
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

/* -- MENU VERTICAL -- */

.container{
    min-height: 100%;
    display: flex;  
}

.menu{
    background: #000;
    padding: 64px 64PX 32px 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
       
}

.menu .closebtn{
  display: none;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.opacidade{
    opacity: 0.8;
}

.logo {
    width: 166px;
    height: auto; 
}

.menu a, .menu p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    
    display: block;
    transition: 0.3s;
}

.redes-sociais{
    display: flex;
}

.redes-sociais a{
    padding: 0px 16px;
}

.detalhe{
    border-bottom: 1px solid white;
}

.item{
    width: 200px;
    padding: 16px;
    text-align: center;
}

.openbtn{
   display: none;    
   width: 0;
   margin: 16px;
}

.openbtn a{
    color: #000;
    font-size: 32px;
}

    .openbtnhome{
   display: none; 
}

/* -- Principal - HOME -- */

.background{
    display: flex;
    background: url("../img/bg-home.png") center no-repeat;
	background-size: cover;
}

.conteudo-home{
    display: flex;    
    align-items: center;
    justify-content: center;
    flex: 1;
}

.conteudo-home h1{
  font-size: 48px;
  font-weight: 600;
  color: #fff;
}

/* -- Principal - SOBRE -- */

.conteudo-sobre{
    display: block;
    flex: 1;
    padding: 64px 64px 32px;
}

.conteudo-sobre p{
    font-size: 18px;
}

.banner{
    display: flex;
    background: url("../img/bg.png") center no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    height: 325px;
    margin: 32px 0;
}

.banner h2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: #fff;
    width: 468px;
    padding-left: 46px;
}

.conteudo-sobre h3{
    text-align: right;
}

.competencias{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 250px;
  height: 15px;
  margin-bottom: 10px;
}

progress[value]::-webkit-progress-bar {
    background-color: #fff;
    border: 1px solid #000;
}

progress[value]::-webkit-progress-value{
    background-color: #000;
}

/* -- Principal - PORTIFOLIO -- */

.conteudo-portifolio{
    padding: 64px 64px 32px;
}

.projeto{
    margin: 32px 0;
    display: flex;
    flex-wrap: wrap;
}

.descricao-projeto{
    display: flex;
    flex-direction: column;
    flex: 2 1 300px;
}

.descricao-projeto p{
    padding: 16px 0;
    font-size: 20px;
}

.descricao-projeto i{
    background: #000;
    padding: 10px;
    color: #fff;
}

.descricao-projeto a{
    text-align: left;
}

.img-projeto{
    flex: 1 1 200px;
}

/* -- RESPONSIVO -- */
@media only screen and (min-width: 768px) and (max-width: 959px){
    .menu{
    padding: 64px 0 32px 0;    
    position: fixed;
    width: 0;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}
    .openbtn{
   display:inline-block; 
    }
    
    .openbtnhome{
   display: inline-block;    
   width: 0;
   margin: 16px;
}
    .openbtnhome a{
    color: #fff;
    font-size: 32px;
}   
    .menu .closebtn{
  display: inline-block;
    }
}

@media only screen and (max-width: 767px){
    .menu{
    padding: 64px 0 32px 0;    
    position: fixed;
    width: 0;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}
    .openbtn{
   display:inline-block; 
    }
    
    .openbtnhome{
   display: inline-block;    
   width: 0;
   margin: 16px;
}
    .openbtnhome a{
    color: #fff;
    font-size: 32px;
}   
    .menu .closebtn{
  display: inline-block;
    }
    
    .conteudo-home h1{
    text-align: center;  
    }
    
}






